
body{
  color: #2d3c49;
}
.Project_Sect, .aboutSection, footer{
  font-family: 'Josefin Sans', sans-serif;
}
/*HEADER*/
.header{
  text-align: center;
}
.logo{
  width: 15%;
  padding-top: 15px;
  padding-bottom: 30px;
}
.navBar a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'lemonmilkregular';
}
.navBar a:hover{
  color: #f841bf;
  text-decoration: none;
}
.navBar a:active{
  color: lightgrey;
  text-decoration: none;
}
.menuItem{
  padding-left: 4%;
  padding-right: 4%;
}
.mobileIcon{
  display: none;
}

/*INTRO*/

/*PROJECTS*/
.Project_Sect{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.proj_pic{
  width: 100%;
  height: auto;
}
.projTitle{
  padding-top: 8px;
}
.project{
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

/*ABOUT*/
.aboutSection{
  background: rgb(255,247,249);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.about, .imagecont{
  width: 50%;
  height: auto;
}
.blurb{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.about .skills{
  color: #f841bf;
}
.about h3{
  font-family: 'lemon_tuesdayregular';
  font-size: 4em;
}
.about .question, .skills {
  font-family: 'lemonmilkregular';
}
.about p{
  color: rgb(102, 91, 91);
}
.about .answer{
  font-family: 'lemon_tuesdayregular';
  text-decoration: underline;
}
.skills{
  margin-top: 30px;
  font-size: 2em;
}
.questAns{
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: 50%;
}
/*SKILLS*/

/*FOOTER*/
footer{
  width: 100%;
  text-align: center;
}
.footerImg{
  width: 10%;
  padding-top: 30px;
  padding-bottom: 10px;
}
.fab{
  font-size: 20px;
}
.footerItem a{
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-size: .95em;
  text-align: center;
  display: inline;
  width: 20%;
}
.footerItem a:hover{
  color: #f841bf;
  text-decoration: none;
  font-weight: bold;
}
.footerItem a:active{
  color: lightgrey;
  text-decoration: none;
}
.footerLink a{
  color: #f841bf;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.footerLink a:active{
  color: #f841bf;
  text-decoration: none;
}
.footerLink a:hover{
  color: lightgrey;
  text-decoration: none;
}
.footerText{
  font-size: .75em;
  padding-bottom: 20px;
}
.footerMenu{
  width: 100%;
  list-style: none;
}
footer .row{
  margin-right: 0;
  margin-left: 0;
}
.fab{
  font-size: 1.5em;
}
