
.flex-box {
  display:flex;
  flex-wrap: wrap;
}

body{
  font-family: 'IM Fell Double Pica', serif;
  color: #2d3c49;
}

img{
  max-width: 100%;
}

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
}
.opacitySquare{
  background-color: white;
  opacity: 0.7;
  width: 45%;
  height: 100px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main_img{
  width: 60%;
  padding-bottom: 30px;
}
.intro{
  background-color: #fff7f9;
}


/*HEADER*/
header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

h1{
  text-transform: uppercase;
  font-size: 2.5em;
}

ul{
  width: 100%;
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.navLink{
  display: inline;
  font-size: 1.25em;
  margin: 0;
  padding: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #f841bf;
}

a:active{
  color: lightgrey;
}

.logo{
  width:150px;
  align-self: center;
  margin: 0;
  padding: 0;
}

h1, h3{
  text-align: right;
  padding: 0;
  margin: 0;
}



/*BLURB*/
.blurb-text{
  text-align: center;
  padding-top: 40px;
  width: 100%;
}

/*MAIN IMAGE*/
.main_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}



/*PROJECTS*/
.Project_Sect{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

h4{
  color:#7d97ad;
  width:100%;
  font-size: 3em;
  text-transform: uppercase;
}

h2{
  font-size: 1.25em;
  text-align: center;
}
.projDes{
  text-align: center;
  font-size: 1em;
}
.project{
  width: 32%;
  height: auto;
}

.proj_pic{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;

}

.proj_2{
  margin-right: 2%;
  margin-left: 2%;
}

p{
  font-size: 2em;
  width: 100%;
  text-align: center;
}


/*ABOUT*/

.aboutSection{
  display: flex;
  flex-wrap: wrap;
  background-color: #edfffc;
}
.about{
  width: 50%;
  font-size: 1em;
  text-align: right;
}
.skills{
  width:50%;
  text-align: center;
  font-size: 1.5em;
}

/*FOOTER*/
footer{
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
}

.footerText{
  font-size: 1em;
}
.footerLink{
  display: inline;
  font-size: 1.25em;
  margin: 0;
  padding: 10px;
}
