body,html {
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #fff;
  margin: 150px auto 0;
  padding: 0;
  display: table;
  width: 600px;
  text-align: center;
}

div {
  color: #D8DFE6;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 0 50px;
  position: relative;
}

.paint-1 { padding: 0px 20px; }

.paint-1:after {
  background: -webkit-linear-gradient(left, rgba(255,184,140,0) 0%,rgba(255,184,140,.3) 15%,rgba(229,116,107,.3) 85%,rgba(229,116,107,0) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  -webkit-transition: all 1500ms cubic-bezier(0.080, 0.005, 0.330, 1.020);
  /*transition: width 2s ease 0s, left 2s ease 0s;*/
  width: 0;
}

.paint-2 { padding: 0px 30px; }

.paint-2:after {
  background: -webkit-linear-gradient(left, rgba(255,184,140,0) 0%,rgba(255,184,140,.2) 15%,rgba(229,116,107,.2) 85%,rgba(229,116,107,0) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}

.paint-3 { padding: 0px 60px; }

.paint-3:after {
  background: -webkit-linear-gradient(left, rgba(255,184,140,0) 0%,rgba(255,184,140,.1) 15%,rgba(229,116,107,.1) 85%,rgba(229,116,107,0) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.paint-4 { padding: 0px 200px; }

.paint-4:after {
  background: -webkit-linear-gradient(left, rgba(255,184,140,0) 0%,rgba(255,184,140,.1) 15%,rgba(229,116,107,.1) 85%,rgba(229,116,107,0) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
  z-index: -5;
}

.paint-5 { padding: 0px 600px; }

.paint-5:after {
  background: -webkit-linear-gradient(left, rgba(255,184,140,0) 0%,rgba(255,184,140,.1) 15%,rgba(229,116,107,.1) 85%,rgba(229,116,107,0) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  transition: width 0.1s ease 0s, left 0.1s ease 0s;
  width: 0;
}

.paint-1:hover:after { width: 20%; left: 40%; }

.paint-2:hover:after { width: 35%; left: 33%; }

.paint-3:hover:after { width: 100%; left: 0; }

.paint-4:hover:after { width: 100%; left: 0; }

.paint-5:hover:after { width: 100%; left: 0; }


div:hover { color: rgba(255,255,255,1); z-index: 1; }
